@charset "utf-8";
@import "compass";

.assort_select_box {
  margin-top: 10px;
  margin-bottom: 10px;
  p.assort_label {
    margin-top: 10px;
    &:before {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      margin-right: 4px;
      margin-left: 4px;
      border: transparent solid 5px;
      border-left-color: #DE5D50;
      vertical-align: 1px;
    }
  }
  
  ul.thumbnails.image_picker_selector {
    //display: none;
  }
  
  ul.thumbnails.image_picker_selector li {
    margin: 0px 0px 0px 0px;
    float: left;
  }
  
  .image_picker_image {
    max-width: 32px;
    max-height: 32px;
    background-color: transparent;
  }
  ul.thumbnails.image_picker_selector li .thumbnail.selected {
      background: #EFEFEF;
  }
}

#detail_image_box__slides {
  position: relative;
  #detail_image_box__item--1.none {
    display: none;
  } 
}

#selected_assort_image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin:0 auto;
  width: 200px;
  height: 100%;
  padding: 136px 0 0 0;
  img {
    //margin: 0 auto;
    @include transition(background-image 0.2s ease-out);
    margin-bottom: 5px;
    max-width: 80px;
  }
  div[id^="assort"] {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
    @include transition(background-image 0.2s ease-out);
    margin-left: 13px;
    float: left;
  }
  @include clearfix;
}

